.slider {
    margin: 0 auto;
    max-width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.185);
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: all linear 1s;
}

.slide img {
    height: 100%;
    max-width: 50%;
}

.manual-navigation {
    padding: 2%;
    z-index: 999;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.manual-btn {
    border: 2px solid black;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:focus {
    background-color: black;
}

.manual-btn:not(:last-child) {
    margin-right: 35px;
}

.manual-btn:hover {
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 35px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #FFF;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #FFF;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #FFF;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #FFF;
}

.div_descricao_carrosel {
    width: 60%;
    z-index: 999;
    background-color: white;
    height: 100%;
    position: absolute;
    right: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    height: 100%;
}

.div_titulo_carrosel {
    width: 100%;
    height: 10%;
}

.div_p_carrosel {
    width: 100%;
    height: 100%;
    text-align: justify;
    display: flex;
    margin-top: 2%;
}